*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #444444;
}

.container{
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

/* nav start */

.nav {
    width: 100%;
    background: #fff;
    position: fixed;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 5%);
}

.nav__inner {
  padding: 25px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mobile-slider-top,
.menu {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

.menu {
  display: none;
  border: 3px solid #000;
}

.mobile-slider-top:after,
.menu:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  animation: circle_puls 1s ease infinite;
}

.menu:after{
    border: 3px solid #000;
}

.mobile-slider-top:hover,
.menu:hover {
  cursor: pointer;
}

.burger {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: #000;
  z-index: -1;
}

.burger::after,
.burger::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #000;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

.burger::after {
  top: 8px;
}

.burger::before {
  bottom: 8px;
}

.bar::before {
  bottom: 0;
}

.bar::after {
  top: 0;
}

.filter {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7);
}

.mobile-slider {
  visibility: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  width: 256px;
  background-color: #222324;
  text-align: center;
  box-shadow: -5px 0 8px rgba(0, 0, 0, 0.2);
}

.close-menu-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 25px;
  border-bottom: 1px solid #555;
}

.top{
    padding: 20px;
    border-bottom: 3px solid #555;
}

.mobile-slider-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 30px;
}

.close-menu {
  position: absolute;
  z-index: 100;
  width: 30px;
  height: 2px;
  background-color: #fff;
}

.close-menu:first-child {
  rotate: 45deg;
}

.close-menu:last-child {
  rotate: 135deg;
}

.close-menu:hover {
  cursor: pointer;
}

.mobile__list .mobile__item a,
.mobile__list .mobile__item a:visited {
  width: 100%;
  display: block;
  padding: 20px;
  color: #ddd;
  text-decoration: none;
  border-bottom: 1px solid #555;
  text-align: left;
  transition: 0.2s;
}

.mobile__list .mobile__item a:hover {
  background-color: #111111;
}

.mobile__btn{
    width: 100%;
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 24px;
    border-top: 2px solid #DE2E54;
    border-bottom: 2px solid #DE2E54;
    text-decoration: none;
    transition: 0.4s;
    margin: 10px 0;
}

.mobile__btn:hover{
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 5px solid #DE2E54;
    border-left: 5px solid #DE2E54;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    margin-right: 30px;
}

.nav__logo__img {
    display: flex;
}

.nav__logo__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #222222;
}

.nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
}

.nav__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav__link {
    color: #222222;
    text-decoration: none;
}

.nav .btn{
    margin-left: 30px;
}

.btn {
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 24px;
    background: #DE2E54;
    border: 2px solid #DE2E54;
    border-radius: 8px;
    text-decoration: none;
}

/* nav hover start */

.nav__logo:hover .nav__logo__title{
    color: #DE2E54;
}

.nav__link:hover {
    color: #DE2E54;
}

.btn:hover {
    color: #DE2E54;
    border: 2px solid #DE2E54;
    background-color: #fff;
}

/* nav hover end */



/* nav active start */

.nav__logo:active {
    opacity: 0.6;
}

.nav__link:active {
    opacity: 0.6;
}

.btn:active {
    color: #FFFFFF;
    border: 2px solid #DE2E54;
    background: #DE2E54;
    opacity: 0.6;
}

/* nav active end */

/* nav end */

/* hero start */

.hero{
    padding-top: 120px;
    background: #0EB4C1;
}

.hero__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero__text-box{
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.hero__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 36px;
}

.hero__btn{
    margin-right: auto;
    /* margin-bottom: 120px; */
}

.hero__img-box{
    display: flex;
}

/* hero end */

/* services start */

.services{
    margin-bottom: 120px;
}

.services__container{
    text-align: center;
}

.services__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 56px;
}

.card{
    width: 100%;
    max-width: 864px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.card:last-child{
    margin-bottom: 60px;
}

.card__img{
    display: flex;
    border-radius: 24px;
}

.card__text-box{
    max-width: 600px;
    display: flex;
    gap: 24px;
    align-items: center;
    display: grid;
}

.card__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #222222;
    text-align: left;
}

.card__text{
    text-align: left;
}

.services__btn{
    margin: 0 auto;
}

/* services end */

/* contact start */

.contact {
    background-color: #0eb4c1;
}

.contact__container {
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 40px;
}

.contact__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #FFFFFF;
}

.cta-box {
    display: flex;
    gap: 40px;
}

.cta {
    display: inline-block;
    text-decoration: none;
    padding: 12px 24px;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}

/* contact hover start */

.cta:hover {
    background: #DE2E54;
    border: 2px solid #DE2E54;
    border-radius: 8px;
}

/* contact hover end */

/* contact active start */

.cta:active {
    background: #DE2E54;
    opacity: 0.6;
    border: 2px solid #DE2E54;
    border-radius: 8px;
}

/* contact active end */

/* contact end */

/* footer start */

.footer{
    background-color: #222;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 24px;
}

.foot__logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 16px;
}

.foot__logo__img{
    display: flex;
}

.foot__logo__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.foot__list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 32px;
}

.foot__item{
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.foot__link{
    color: #FFFFFF;
    text-decoration: none;
}

/* footer hover start */

.foot__logo:hover .foot__logo__title{
    color: #DE2E54;
}

.foot__link:hover{
    color: #DE2E54;
}


/* footer hover end */

/* footer active start */

.foot__logo:active {
    opacity: 0.6;
}

.foot__link:active{
    opacity: 0.6;
}

/* footer active end */

/* footer end */

/* @media start */

@media (max-width: 1080px){

    .nav .btn,
    .nav__list{
        display: none;
    }

    .menu{
        display: flex;
    }
}